
.verticalhorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}
#vh {
    position: absolute;
    top: 50%;
    width: 100%;
    vertical-align: middle;
}